
h2, a {
  font-size: 1.5rem;
  margin: 0;
  color: black !important;
  text-decoration: none;
}
h2 {
  font-weight: 500;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.contact-links {
  list-style-type: none;
  padding: 0;
}

.contact-links li {
  margin-bottom: 10px;
}

.contact-links a {
  align-items: center;
  text-decoration: none;
}

.contact-links i {
  margin-right: 5px;
}

footer {
  text-align: center;
  padding: 10px;
}
