.container {
  display: flex;
  flex-direction: row;
}

.text {
  flex: 1;
  margin-right: 20px;
  max-width: 65ch;
  text-align: justify;
  margin-left: 10rem;
}
h2 {
  text-align: center !important;
}
.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image img {
  width: 100%;
  max-width: 500px;
  margin-right: 10rem;
  margin-left: 9rem;
}


