#tema1 {
    list-style-type: none;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 3.5rem;
}

@media (max-width: 967px) {

    #tema1 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 1.9rem;
    }
    footer {
        text-align: center;
        font-size: 0.2rem;
      }

  }
  