
main {
  padding: 20px;
}
  p 
{ color: black !important;

}
  h1, h3, h4, h5, a, footer {
    font-family: Poppins, sans-serif;
    text-align: center;
    }

h3, h2, p {
    font-family: Poppins, sans-serif;
    font-weight: 400 !important;
}
h1 {
  font-weight:500 !important;
}

.text {
  padding: 2rem;
  text-align: justify; 
}

.text2 {
  text-align: center;
}
.link {
    
  text-align: center;
}

.logo {
  margin: 6rem;
}



.img10 {
  max-width: 100%;
  padding: 1rem;
}

.img5, .img6, .img8 {
  max-width: 100%;
  padding: 1rem;
}

.container2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 2rem;
}

.container5 {
  display: block;
margin-left: auto;
margin-right: auto;
width: 36%;
}

.container3 {
  display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
}
